Repository microsoft/onnxruntime-genai, pull requests merged in 2024-11, with the labels that each got.

#940 Add new INT4 quantization features to model builder
  src/python/py/models/builder.py
Labels: 0.5.0

#1028 Disable buffer sharing for config only
  src/python/py/models/builder.py
Labels: 0.5.0

#1022 Extend builder support for quantized lm_head
  src/python/py/models/quantized_model.py
Labels: 0.5.0

#1057 Fix data leakage in KV cache initialization
  src/models/kv_cache.cpp
Labels: 0.5.1

#1059 Fix up projection bias calculation
  src/python/py/models/quantized_model.py
Labels: 0.5.1

#1066 Added Phi-3.5-vision model validation in pipeline
  .pipelines/stages/jobs/nuget-validation-job.yml
  .pipelines/stages/jobs/py-validation-job.yml
  .pipelines/stages/jobs/steps/nuget-validation-step.yml
  .pipelines/stages/jobs/steps/python-validation-step.yml
  .pipelines/stages/jobs/steps/utils/download-huggingface-model.yml
  .pipelines/stages/jobs/steps/utils/flex-download-pipeline-artifact.yml
  examples/csharp/HelloPhi/HelloPhi.csproj
  examples/csharp/HelloPhi/Program.cs
  examples/csharp/HelloPhi3V/HelloPhi3V.csproj
  examples/csharp/HelloPhi3V/Program.cs
  examples/python/model-generate.py
  examples/python/phi3v.py
  test/csharp/TestOnnxRuntimeGenAIAPI.cs
Labels: 0.5.2
