Repository microsoft/onnxruntime-genai, pull requests merged in 2024-05, with the labels that each got.

#388 Fix codeql
  nuget.config
Labels: rel-0.2.0-rc5

#340 Allowing ADO packing pipelines to use the specific ORT commit
  .github/workflows/linux-cpu-x64-build.yml
  .github/workflows/linux-gpu-x64-build.yml
  .github/workflows/mac-cpu-arm64-build.yml
  .github/workflows/win-cpu-x64-build.yml
  .github/workflows/win-cuda-x64-build.yml
  .pipelines/nuget-publishing.yml
  .pipelines/pypl-publishing.yml
  .pipelines/stages/jobs/nuget-packaging-job.yml
  .pipelines/stages/jobs/py-packaging-job.yml
  .pipelines/stages/jobs/steps/capi-linux-step.yml
  .pipelines/stages/jobs/steps/capi-win-step.yml
  .pipelines/stages/jobs/steps/nuget-ado-feed-releasing-step.yml
  .pipelines/stages/jobs/steps/py-ado-feed-releasing-step.yml
  .pipelines/stages/jobs/steps/utils/capi-archive.yml
  .pipelines/stages/jobs/steps/utils/download-ort.yml
  .pipelines/stages/nuget-packaging-stage.yml
  .pipelines/stages/py-packaging-stage.yml
  CMakeLists.txt
  cmake/package.cmake
  src/tokenizer/CMakeLists.txt
Labels: rel-0.2.0-rc5

#437 Add ort suffix for DML dependency in packaging pipeline for nuget
  .pipelines/stages/jobs/nuget-packaging-job.yml
Labels: rel-0.2.0-rc7

#418 Adding dependency libraries to zip package
  cmake/package.cmake
Labels: rel-0.2.0-rc7

#428 AddExtraInput API for C/C++/C#
  src/csharp/GeneratorParams.cs
  src/csharp/NativeMethods.cs
  src/csharp/Tensor.cs
  src/generators.h
  src/models/model.cpp
  src/models/whisper.cpp
  src/ort_genai.h
  src/ort_genai_c.cpp
  src/ort_genai_c.h
  src/python/python.cpp
  src/tensor.h
  test/c_api_tests.cpp
  test/csharp/TestOnnxRuntimeGenAIAPI.cs
Labels: rel-0.2.0-rc7

#438 Fix missing version, lib64 and component governance
  .pipelines/stages/jobs/steps/compliant/component-governance-component-detection-step.yml
  cmake/package.cmake
Labels: rel-0.2.0-rc7

#439 Rename add_extra_input python API to match C/C++ one
  src/python/python.cpp
Labels: rel-0.2.0-rc7

#447 Moving ORT-Genai DLL into lib folder
  cmake/package.cmake
Labels: rel-0.2.0-rc7

#464 Support extra inputs in graph captures
  src/generators.h
  src/models/captured_graph_pool.cpp
  src/models/captured_graph_pool.h
  src/models/decoder_only.cpp
  src/models/decoder_only.h
  src/models/extra_inputs.cpp
  src/models/extra_inputs.h
  src/models/gpt.cpp
  src/models/gpt.h
  src/models/model.cpp
  src/models/whisper.cpp
  src/models/whisper.h
Labels: rel-0.2.0

#469 Update DML to 1.14.2 and remove workaround
  .github/workflows/win-directml-x64-build.yml
  .pipelines/stages/jobs/nuget-packaging-job.yml
  .pipelines/stages/jobs/py-packaging-job.yml
  src/generators.cpp
Labels: rel-0.2.0

#458 Include vector
  CMakeLists.txt
  src/ort_genai.h
Labels: rel-0.2.0

#467 Add custom DML allocators and non-global env to work around memory issues
  src/dml/dml_helpers.cpp
  src/dml/dml_helpers.h
  src/dml/dml_smart_container.h
  src/models/model.cpp
  src/models/model.h
Labels: rel-0.2.0

#466 Update README and add Python package description
  README.md
  src/python/CMakeLists.txt
  src/python/package_description.md
  src/python/setup.py.in
Labels: rel-0.2.0

#473 fix graph capture API name in python
  README.md
  benchmark/python/benchmark_e2e.py
  examples/chat_app/interface/hddr_llm_onnx_interface.py
  examples/python/model-generate.py
  examples/python/model-qa.py
  examples/python/phi3-qa.py
  src/generators.cpp
  src/python/python.cpp
  test/python/test_onnxruntime_genai_api.py
  test/python/test_onnxruntime_genai_e2e.py
Labels: rel-0.2.0
