Repository microsoft/onnxruntime-genai, pull requests merged in 2025-01, with the labels that each got.

#1167 Allow some known extra inputs in the model
  src/models/extra_inputs.cpp
  src/models/extra_inputs.h
  src/models/model.cpp
  src/models/model.h
  test/python/test_onnxruntime_genai_api.py
Labels: rel-0.6.0

#1174 Hold onto named tensors to ensure they don't get garbage collected in Python
  src/python/python.cpp
Labels: rel-0.6.0

#1175 Always calculate rotary embedding caches in model builder
  src/python/py/models/builder.py
  test/python/test_onnxruntime_genai_api.py
Labels: 0.6.0, rel-0.6.0

#1159 Address a DML regression caused by the continuous decoding changes
  src/generators.cpp
  src/models/debugging.cpp
  src/models/input_ids.cpp
  src/models/logits.cpp
  src/ort_genai_c.cpp
Labels: rel-0.6.0

#1182 Prepare for release and some bug fixes
  .pipelines/stages/jobs/steps/python-validation-step.yml
  src/models/kv_cache.cpp
  src/python/setup.py.in
  test/python/cpu/ort/requirements.txt
  test/python/cuda/ort/requirements.txt
  test/python/directml/ort/requirements.txt
  test/python/macos/ort/requirements.txt
Labels: rel-0.6.0

#1187 fix model-qa.py to load model_path
  examples/python/model-qa.py
Labels: 0.6.0

#1061 Added OLMo support to builder.py
  README.md
  src/models/model.cpp
  src/python/py/models/README.md
  src/python/py/models/builder.py
  test/python/_test_utils.py
Labels: 0.6.0

#1154 Improve C# documentation
  src/csharp/Adapters.cs
  src/csharp/Config.cs
  src/csharp/Exceptions.cs
  src/csharp/Generator.cs
  src/csharp/GeneratorParams.cs
  src/csharp/Images.cs
  src/csharp/Model.cs
  src/csharp/MultiModalProcessor.cs
  src/csharp/Result.cs
  src/csharp/Sequences.cs
  src/csharp/Tensor.cs
  src/csharp/Tokenizer.cs
  src/csharp/TokenizerStream.cs
  src/csharp/Utils.cs
Labels: documentation and samples

#1199 Update examples and prompts
  examples/python/model-chat.py
  examples/python/model-qa.py
Labels: 0.6.0
